:root {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

@font-face {
    font-family: Leoscar;
    src: url(font/LSS.ttf) format('truetype')
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    margin: 0px;
    text-align: center;
}

a {
    text-decoration: none;
}

.white {
    color: white;
}

.accent {
    color: #3077D9
}

/* Title css */

#title {
    height: 100vh;
    width: 100%;
}

#title img {
    min-height: 100vh;
    min-width: 100vw;
    filter: brightness(50%);
    position: absolute;
    bottom: 0px;
    z-index: -1;
    position: fixed;
}

#title-text {
    position: absolute;
    width: 100%;
    top: 32vh;
}

#title h1 {
    font-family: Leoscar, serif;
    color: white;
    font-size: 90px;
    text-shadow: 3px 3px 5px black;
}

/* #title h2 {
    font-family: Leoscar, serif;
    color: #3077D9;
    font-size: 32px;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    margin-top: 10px;
} */

#icons {
    position: absolute;
    width: 100%;
    top: 79vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#icons i {
    font-size: 64px;
    transition: color 0.2s ease-out, font-size 0.2s ease-out, transform 0.2s ease-out;
    margin: 0px 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#icons i:hover {
    color: #3077D9;
    font-size: 80px;
    transform: translateY(-8px)
}

/* Navbar */

nav {
    display: block;
    width: 200px;
    height: 97vh;
    position: sticky;
    top: 0px;
    border-right: 2px solid  #A9A9A9;
    padding-top: 30px;
    text-align: center;
    background-color: white;
    float: left;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 28px;
    margin: 0px 10px;
    color: #3077D9;
    font-weight: bold;
    margin-bottom: 50px;
}

/* Main Section */

main {
    background-color: white;
    height: 100%;
    width: auto;
    /* border-top: 2px solid #1F1F1E; */
    box-shadow: 0px -5px 20px #1F1F1E;
}

#main-section section {
    margin: 0px 0px 0px 177px;
}

/* About Me */

#about-me {
    background-color: white;
    padding: 40px 10% 30px;
}

/* Skills */

#skills {
    background-color: #D5D7D6;
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10% 30px;
}

#skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills i {
    font-size: 64px;
    margin-right: 10px;
}

#skills p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    margin: 40px;
    width: 200px;
}

/* Projects */

#projects {
    background-color: white;
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-card {
    width: 350px;
    height: 401px;
    background-color: #D5D7D6;
    margin: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    transition: border 0.2s ease-out;
}

.project-card h3 {
    margin: 19px 0px 0px;
    text-decoration: underline;
}

.project-card p {
    margin: 4px 0px;
}

.project-card img {
    width: 100%;
    height: 55%;
    border-radius: 10px;
    margin: 0px;
}

.projects-category a {
    text-decoration: none;
    color: #1F1F1E;
}

.project-card:hover {
    border: 5px solid #3077D9;
}

/* Contacts */

#contact-section {
    background-color: #1F1F1E;
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts {
    display: flex;
    flex-direction: row;
    margin: 100px 0px 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.contact p:hover {
    text-decoration: underline;
}

.contact i {
    color: white;
    font-size: 50px;
    margin: 15px;
}

#contacts i {
    transition: color 0.2s ease-out, font-size 0.2s ease-out, transform 0.2s ease-out;
}

#contacts i:hover {
    color: #3077D9;
    font-size: 80px;
    transform: translateY(-8px)
}
/* Media Query for single column layout */

@media (max-width: 1050px) {
    #title-text {
        position: absolute;
        width: 100%;
        top: 13vh;
    }

    nav {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px solid #D5D7D6;
        border-right: 0px solid  #1F1F1E;
        padding-top: 0px;
    }
    
    nav a {
        font-size: 20px;
        margin: 0px;
        margin-bottom: 0px;
    }

    #main-section section {
        margin: 25px 0px 0px;
        padding: 40px 40px 30px;
    }

    .projects-category {
        flex-direction: column;
        align-items: center;
    }
}