:root {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Leoscar;
    src: url(font/LSS.ttf) format('truetype')
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
    margin: 0px;
    text-align: center;
}

body {
    margin: 0px;
}

nav {
    display: block;
    width: 175px;
    height: 97vh;
    position: sticky;
    top: 0px;
    border-right: 2px solid  #1F1F1E;
    padding-top: 30px;
    text-align: center;
    background-color: white;
    float: left;
}

nav a {
    display: block;
    text-decoration: none;
    font-size: 28px;
    margin: 0px 10px;
    color: #3077D9;
    font-weight: bold;
    margin-bottom: 50px;
}

main {
    background-color: white;
    height: 100%;
    width: auto;
    margin-top: -100px;
    border-top: 3px solid #1F1F1E;
}

ul {
    margin: 0px;
}

.white {
    color: white;
}

.accent {
    color: #3077D9
}

#main-section section {
    margin: 0px 0px 0px 177px;
}

#about-me {
    background-color: white;
    padding: 40px 10% 30px;
}

#skills {
    background-color: #D5D7D6;
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects {
    background-color: white;
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-card {
    width: 400px;
    height: 325px;
    background-color: #D5D7D6;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid #3077D9;
    transition: border 0.2s ease-out;
}

.project-card img {
    width: 97.5%;
    height: 75%;
    border-radius: 5px;
    margin-top: 5px;
}

.projects-category a {
    text-decoration: none;
    color: #1F1F1E;
}

.project-card:hover {
    border: 5px solid #3077D9;
}

#contact {
    background-color: #1F1F1E;
    padding: 40px 40px 30px;
}

#title {
    height: 100vh;
    width: 100%;
}

#title img {
    min-height: 100vh;
    min-width: 100vw;
    filter: brightness(50%);
    position: absolute;
    bottom: 0px;
    z-index: -1;
    position: fixed;
}

#title h1 {
    font-family: Leoscar;
    color: white;
    font-size: 90px;
    text-shadow: 3px 3px 5px black;
    margin-top: 100px;
    padding-top: 100px;
}

#title h2 {
    font-family: Leoscar;
    color: #3077D9;
    font-size: 32px;
    text-shadow: 3px 3px 5px black;
    text-align: center;
    margin-top: 10px;
}

#icons {
    margin-top: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#icons i {
    font-size: 64px;
    transition: color 0.2s ease-out, font-size 0.2s ease-out, transform 0.2s ease-out;
    margin: 0px 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#icons i:hover {
    color: #3077D9;
    font-size: 80px;
    transform: translateY(-8px)
}

@media (max-width: 1050px) {
    nav {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 2px solid #1F1F1E;
        border-right: 0px solid  #1F1F1E;
        padding-top: 0px;
    }
    
    nav a {
        font-size: 20px;
        margin: 0px;
        margin-bottom: 0px;
    }

    #main-section section {
        margin: 25px 0px 0px;
        padding: 40px 40px 30px;
    }

    .projects-category {
        flex-direction: column;
        align-items: center;
    }
}